.filepond--media-preview {
    audio {
        display: none;
    }

    .audioplayer {
        width: calc(100% - 1.4em);
        margin: 2.3em auto auto;
    }

    .playpausebtn {
        margin-top: .3em;
        margin-right: .3em;
        height: 25px;
        width: 25px;
        border-radius: 25px;
        border: none;
        background-repeat: no-repeat;
        background-position: center;
        float: left;
        outline: none;
        cursor: pointer;

        &:hover {
            background-color: rgba(#000, .5);
        }
    }

    .play {
        background-image: url('images/icon_play.png');
    }

    .pause {
        background-image: url('images/icon_pause.png');
    }

    .timeline {
        width: calc(100% - 2.5em);
        height:3px;
        margin-top: 1em;
        float: left;
        border-radius: 15px;
        background: rgba(#fff, .3);

    }

    .playhead {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        margin-top: -5px;
        background: rgba(#fff, 1);

    }
}